:root {
    --luna-icon-brightness: 1;
    --luna-icon-list-active-brightness: 1;
    --luna-statusBar-icon-brightness: 1;
    --luna-focusColor: var(--vscode-focusBorder, #399EF4);
    --luna-list-hoverBackground: var(--vscode-list-hoverBackground, #ffffff1a);
    --luna-list-activeBackgroundColor: var(--vscode-list-activeSelectionBackground, #399EF480);
    --luna-list-activeForegroundColor: var(--vscode-list-activeSelectionForeground, #ffffff33);
    --luna-list-inactiveBackgroundColor: var(--vscode-list-inactiveSelectionBackground, #ffffff33);
    --luna-list-dropBackgroundColor: var(--vscode-list-dropBackground, #399EF480);
}

a:focus, button:focus, button:active, input:focus, select:focus, textarea:focus {
    outline: 1px solid var(--luna-focusColor);
}

.luna-icon {
    filter: brightness(var(--luna-icon-brightness, 1));
}
.luna-icon-before::before {
    filter: brightness(var(--luna-icon-brightness, 1));
}

body {
    font-family: 'Segoe WPC', 'Segoe UI', sans-serif;
    user-select: none;
    margin: 0;
}

#top,
#middle,
#bottom {
    overflow: hidden;
    left: 0;
    right: 0;
    position: absolute;
}

#top {
    height: 22px;
}

#middle {
    bottom: 22px;
    top: 22px;
}

#bottom {
    height: 22px;
    bottom: 0;
}

#canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#canvas {
    background: var(--vscode-editor-background, #444);
}
#canvas.loaded {
    background: url(transparentBackground.png) !important;
}

#canvas canvas.animation {
    position: absolute;
    top: 0;
    pointer-events: none;
    left: 0;
}

#canvas .views {
    user-select: none;
    pointer-events: none;
}

#gui {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
}

.move-handle {
    position: absolute;
    border: 1px solid #000;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    margin-left: -5px;
    margin-top: -5px;
    box-shadow: 0px 0px 0px 1px #fff inset;
}

.cursor-info {
    position: absolute;
    background-color: #00000080;
    border: 1px solid #000;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);;
    padding: 2px;
    height: 20px;
    line-height: 20px;
    margin-left: 20px;
    z-index: 1;
    display: none;
}

select,
input[type=number] {
    color: var(--vscode-dropdown-foreground, initial);
    background-color: var(--vscode-dropdown-background, initial);
    border-color: var(--vscode-dropdown-border, none);
}

input[type=number] {
    border: 0;
}

.outline {
    border: 1px solid #fff;
    position: relative;
}
.outline::before {
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    position: absolute;
    margin: -2px 0 0 -2px;
    padding: 1px;
}

.drop-target {
    background: var(--luna-list-dropBackgroundColor);
}
